@mixin html-viewer-theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  $bg: mat-color($background, app-bar);
  $fg: mat-color($primary);

  app-html-viewer {
    .menus {
      color: mat-color($primary, 800);
    }

    .mask-container > .mask > * {
      color: #ccc;
    }

    .mask-container > .mask.block > * {
      color: mat-color($accent);
    }
  }
}
