:host {
  & > div {
    height: 100%;

    iframe {
      border: 0;
    }

    & > .mask-container {
      position: relative;

      & > .mask {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        border-radius: 0px;

        & > * {
          position: absolute;
          transform: translate(-50%, -75%);
          top: 50%;
          left: 50%;
          height: auto;
          width: auto;
          color: white;
          background: #0002;
          border-radius: 0.3em;
          border: 1px solid #fff2;
          font-size: 1.8rem;
          padding: 0 0.3em;
          backdrop-filter: blur(3px);
          mix-blend-mode: luminosity;
          box-shadow: 0.5px 0.5px 1px #0008;
        }
      }
    }

    & > .menus {
      margin: 5px;
      display: flex;

      & > * {
        vertical-align: middle;
        display: inline-block;
        align-self: center;
        margin: 0 5px 0 0;
      }

      & > mat-icon {
        font-size: 1.5em;

        &:last-child {
          margin: 0;
        }
      }
    }
  }

  .python-terminal {
    height: 4em;
    margin: 0.5em;
  }
}
