<ng-container [ngSwitch]="type">
  <app-html-viewer
    *ngSwitchCase="'html'"
    [content]="content"
    [options]="options"
  ></app-html-viewer>
  <app-python-viewer
    *ngSwitchCase="'python'"
    [content]="content"
    [options]="options"
  ></app-python-viewer>
  <ng-container *ngSwitchDefault>
    <app-wrapmd-viewer
      *ngIf="type"
      [content]="content"
      [type]="type"
      [options]="options"
    ></app-wrapmd-viewer>
    <app-markdown-viewer
      *ngIf="!type"
      [content]="content"
      [options]="options"
    ></app-markdown-viewer>
  </ng-container>
</ng-container>
