!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
.\#*
.c9/
.classpath
.DS_Store
.history/*
.idea
.project
.sass-cache
.settings/
.vs
.vscode/*
*.csproj.user
*.launch
*.sln.DotSettings.user
*.sublime-workspace
*~
\#*\#
bazel-out
bin
chrome-profiler-events.json
connect.lock
coverage
dist
libpeerconnection.log
ModothStudy.Web/Generated
ModothStudy.Web/wwwroot
node_modules
npm-debug.log
obj
out-tsc
speed-measure-plugin.json
src/app/apis
testem.log
Thumbs.db
tmp
typings
yarn-error.log
build
wwwroot
