<div
  [class]="showBorder ? 'node-item' : ''"
  [class.fullscreen-node-item]="fullscreen"
>
  <div *ngIf="showMenus" class="menus">
    <mat-icon
      *ngIf="mergedContent"
      color="primary"
      (click)="fullscreen = !fullscreen"
    >
      {{ fullscreen ? "close" : "zoom_out_map" }}
    </mat-icon>
    <mat-icon
      color="primary"
      *ngIf="mergedContent && popContentUrl != null && !fullscreen"
      (click)="openContentUrl()"
    >
      open_in_new
    </mat-icon>
    <mat-icon
      *ngIf="!fullscreen && mergedContent"
      (click)="showSource = !showSource"
    >
      {{ showSource ? "keyboard_arrow_up" : "code" }}
    </mat-icon>
    <div class="divider"></div>
    <ng-container *ngIf="menus && menus.length > 0 && !fullscreen">
      <mat-icon
        *ngFor="let menu of menus"
        color="primary"
        (click)="menu.onClick()"
      >
        {{ menu.icon }}
      </mat-icon>
    </ng-container>
  </div>
  <markdown
    *ngIf="!mergedContent"
    [class.hidden]="hideSource"
    [data]="markdownContent"
  ></markdown>
  <app-html-viewer
    [id]='id'
    [fullscreen]="fullscreen"
    *ngIf="mergedContent"
    (popContentUrlChange)="popContentUrl = $event"
    [content]="mergedContent"
    [options]="appOptions"
  >
  </app-html-viewer>
</div>
<markdown
  *ngIf="mergedContent"
  [class.hidden]="hideSource || !showSource"
  [data]="markdownContent"
></markdown>
