@mixin python-viewer-theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $primary: map-get($theme, primary);

  $bg: mat-color($background, app-bar);
  $fg: mat-color($primary);

  app-python-viewer {
    .menus {
      color: mat-color($primary, 800);
    }

    app-python-terminal.fixedBottom {
      box-shadow: 0 -1px 3px 1px mat-color($foreground, divider);
      z-index: 999;
      margin: 0;
      padding: 0 2px 8px 2px;

      .outputs {
        height: 6em;
      }
    }
  }
}
