@mixin nav-bar-theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  $bg: mat-color($background, app-bar);
  $fg: mat-color($primary);

  app-navbar {
    background: white;
    // color: mat-color($foreground, secondary-text);
    color: $fg;
    box-shadow: 0 1px 3px 1px mat-color($foreground, divider);
  }

  .active-link.mat-button {
    // background: $fg;
    // font-weight: bolder;
    text-decoration: underline;
    // color: mat-color($accent);
  }
}
