:host {
  display: flex;
  flex-direction: column;
  padding: 0;
  .navbar-logo {
    position: relative;
  }
  .navbar-logo-fb {
    width: 100%;
    bottom: 50%;
    transform: translate(0, 50%);
    position: absolute;
    display: flex;
    justify-content: space-between;
    & > .mat-button {
      margin: 0;
      min-width: auto;
    }
  }

  & .logo {
    height: 32px;
    padding: 3px;
  }

  & .user-logo {
    width: 24px;
    margin: 0;
  }

  & .user-avatar {
    width: 24px;
    border-radius: 3px;
  }

  .navbar-buttons {
    display: inline-flex;
    overflow-x: auto;

    .mat-button {
      margin: 0 auto;
      padding: 2px;
      min-width: unset;
      &:nth-child(2) {
        margin-left: 10px;
      }
      &:nth-last-child(2) {
        margin-right: 10px;
      }
    }
  }
}

.hiden-on-big {
  display: unset;
}
.hiden-on-small {
  display: none;
}

@media (min-width: 720px) {
  // :host > * {
  //   width: 720px;
  //   align-self: center;
  // }
  .hiden-on-big {
    display: none;
  }
  .hiden-on-small {
    display: unset;
  }
  &:first-child {
    margin-left: 10px;
  }
  &:last-child {
    margin-right: 10px;
  }
}

.margin-top-3 {
  margin-top: 4px !important;
}

.logo-icon {
  padding: 0;
  margin-left: 10px !important;
}
