html,
body,
#app {
    height: 100%;
    min-height: 100%;
}

body {
    margin: 0;
    color: #333;
}

#app {
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main-canvas{
    position: absolute;
    width: 100%;
    height: 100%;
}

.hidden{
    display: none;
}

#map, #props{
    position: fixed;
    top: 0;
    margin: 5px;
    color: aliceblue;
    user-select: none;
    /* font-family: cursive; */
    background: #0002;
}

#props{
    left: 0;
}

.object-prop
{
    padding:2px 0;
}
.object-value{
    padding: 2px 5px;
}

#map{
    right: 0;
}

#direction{
    display: inline-block;
    transform: rotate(90deg);
}

.row {
    display: flex;
    flex: 1;
}

.cell {
    flex: 1;
    /* margin: 2px; */
}

.cell-0 {
    background-color:transparent;
}

.cell-1 {
    background-color: whitesmoke;
}

@keyframes end {
    from { background-color: blue; }
    to   { background-color: white; }
  }

.cell-end {
    animation: 1s linear infinite end;
}

@keyframes start {
    from { background-color: red; }
    to   { background-color: white; }
  }

.cell-start{
    animation: 1s linear infinite start;
}

.map-editor-btn {
    flex: 1;
    color: white;
    background: #FFFFFF80;
    margin: 0 10px;
    text-align: center;
    border-radius: 8px;
    user-select: none;
}

.map-editor-btn.editing{
    display: none;
}

.editing>.map-editor-btn.editing{
    display: inline-block;
}

.editing>.map-editor-btn.no-editing{
    display: none;
}

.map-editor-btn.highlight{
    color:lightskyblue;
}

.table {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.editor{
    flex:1;
        display: flex;
    background-color: #00000080;
}

.map-editor-btn-group{
    display: flex;
    margin: 10px;
}

@media (orientation: portrait){ 
    .editor{    
        flex-direction: column;
    }
    .table {
        
    }
    
    .map-editor-btn-group{
        flex-direction: row;;
    }
}

@media (orientation: landscape){
    .editor{
        flex-direction: row;
    }
    .table {
        
    }
    .map-editor-btn-group{
        flex-direction: column;
        height: 100%;
        margin: 0 5px 0 0;
    }
    .map-editor-btn {
        margin: 2px 0px;
        text-align: center;
        border-radius: 8px;
        user-select: none;
        word-wrap: break-word;
        width: 1em;
        padding: 5px;
        font-size: 0.625rem;
    }
} 