.article-list-menus {
  right: 25px;
  top: 25px;
  position: fixed;
  display: flex;

  & > * {
    margin-left: 10px;
    opacity: 0.5;
  }
}

.article-list {
  padding: 20px;
}

.article-list.column-count-1 {
  column-count: 1;
}

.article-list.column-count-2 {
  column-count: 2;
}

@media print {
  .article-list-menus {
    display: none;
  }

  .article-list {
    padding: 0;
  }

  .article-list.column-count-2 {
    column-fill: auto;
    height: 100%;
  }
}
