.library {
  padding: 10px;

  & .image-editor {
    height: 400px;
  }

  & .tag-list {
    display: block;
    box-sizing: border-box;
    border-bottom: 1px solid #0001;
    // background-color: #0001;
    padding: 2px;
    // border-radius: 10px;
  }

  & .tag-item {
    margin: 1px 2px 5px 2px;
    border-radius: 20px;
  }

  & .tag-item::before {
    display: none;
  }

  & .filters {
    width: 100%;
    padding: 10px 14px 20px 14px;
    border-radius: 0 0 20px 20px;
    border: 1px solid #0002;
    border-top: none;
    background: transparent;
    margin-top: -10px;
    user-select: none;
    -webkit-user-select: none;
  }

  & .articles {
    margin: 10px 0;
    width: 100%;
  }

  & .ant-card-bordered {
    border-radius: 20px;
    border: 1px solid #0002;
  }

  & .ant-card-body {
    padding: 10px 20px;
  }

  & .article-body {
    padding: 0 2px;
    background: white;
    display: block;
  }

  & .search-bar {
    display: flex;

    & .ant-select-selector {
      border-radius: 20px;
    }

    & .search-subjects {
      flex: 1;
    }

    & .search-btn {
      margin-left: 5px;
      border-radius: 20px;
      width: 3em;
      text-align: center;
    }
  }

  & .float-menus {
    position: fixed;
    right: 0;
    margin: 10px;
    z-index: 3;
  }
}
