.nav {
  display: flex;
  background: #fff;
  & .ant-menu-item {
    border-bottom: unset !important;
  }
  & > .menu-item-devider {
    flex: 1;
  }

  & > .icon {
    width: 64px;
  }

  & .avatar {
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #0002;
  }
}
