@mixin terminal-ime-theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);

  $bg: mat-color($background, app-bar);
  $fg: mat-color($primary);

  app-terminal-ime {
    .keyborad {
      background: mat-color($background, app-bar);
    }

    .keyborad-key > div {
      background: transparent;
      color: mat-color($foreground, color);
      box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.14);

      &:active {
        box-shadow: 0 1px 3px 1px mat-color($primary);
      }

      & > .upperKey {
        color: mat-color($foreground, hint-text);
      }

      & > .key {
        color: mat-color($foreground, hint-text);
      }
    }

    .ArrowLeft,
    .ArrowRight,
    .ArrowUp,
    .ArrowDown,
    .Enter {
      & > div {
        background-color: mat-color($primary, 300);

        & > .upperKey {
          color: mat-color($background, background);
        }

        & > .key {
          color: mat-color($background, background);
        }
      }
    }

    .Esc,
    .Backspace {
      & > div {
        background-color: mat-color($warn, 300);

        & > .upperKey {
          color: mat-color($background, background);
        }

        & > .key {
          color: mat-color($background, background);
        }
      }
    }

    .keyborad-key > div {
      .popup.upperKey {
        background-color: mat-color($primary, 300);
        color: mat-color($background, background);
        box-shadow: 0 1px 3px 1px mat-color($primary);
      }
    }
  }
}
