<section class="viewers">
  <ng-container *ngIf="pythonService; else artivlePreview">
    <ng-container [ngSwitch]="solutionToType">
      <app-html-viewer
        *ngSwitchCase="'html'"
        [id]="id"
        [content]="solutionToContent"
        [options]="{ play: { value: true }, pythonService: pythonService }"
      ></app-html-viewer>
      <app-python-viewer
        *ngSwitchCase="'python'"
        [content]="solutionToContent"
        [id]="id"
        [options]="{ play: { value: true }, pythonService: pythonService }"
      ></app-python-viewer>
      <app-markdown-viewer
        *ngSwitchDefault
        [content]="solutionToContent"
        [id]="id"
        [options]="{ play: { value: true }, pythonService: pythonService }"
      ></app-markdown-viewer>
    </ng-container>
  </ng-container>
  <ng-template #artivlePreview>
    <ng-container [ngSwitch]="type">
      <app-html-viewer
        *ngSwitchCase="'html'"
        [id]="id"
        [content]="changedContent"
        [options]="Object.assign({}, viewerOptions, { play: { value: true } })"
      >
      </app-html-viewer>
      <app-python-viewer
        *ngSwitchCase="'python'"
        [id]="id"
        [content]="changedContent"
        [options]="Object.assign({}, viewerOptions, { play: { value: true } })"
      >
      </app-python-viewer>
      <ng-container *ngSwitchDefault>
        <app-wrapmd-viewer
          *ngIf="type"
          [id]="id"
          [type]="type"
          [content]="changedContent"
          [options]="
            Object.assign({}, viewerOptions, {
              hideSource: { value: true },
              play: { value: true }
            })
          "
        >
        </app-wrapmd-viewer>
        <app-markdown-viewer
          [id]="id"
          [content]="changedContent"
          *ngIf="!type"
          [options]="
            Object.assign({}, viewerOptions, { play: { value: true } })
          "
        >
        </app-markdown-viewer>
      </ng-container>
    </ng-container>
  </ng-template>
</section>

<section class="editors">
  <ng-container [ngSwitch]="type">
    <app-python-editor
      *ngSwitchCase="'python'"
      [defalutContent]="content"
      [type]="type"
      [pythonService]="pythonService ? pythonService.value : null"
      (closed)="closed($event)"
      (saved)="saved($event); changedContent = $event"
      (changed)="changedContent = $event"
    >
    </app-python-editor>
    <app-html-editor
      *ngSwitchCase="'html'"
      [defalutContent]="content"
      [type]="type"
      [maxImageSize]="maxImageSize"
      [errored]="errored"
      [imageInserted]="imageInserted"
      (closed)="closed($event)"
      (saved)="saved($event); changedContent = $event"
      (changed)="changedContent = $event"
    >
    </app-html-editor>
    <ng-container *ngSwitchDefault>
      <app-simple-editor
        *ngIf="type"
        [defalutContent]="content"
        [type]="type"
        [errored]="errored"
        (closed)="closed($event)"
        (saved)="saved($event); changedContent = $event"
        (changed)="changedContent = $event"
      >
      </app-simple-editor>
      <app-markdown-editor
        *ngIf="!type"
        [defalutContent]="content"
        [type]="type"
        [maxImageSize]="maxImageSize"
        [errored]="errored"
        [imageInserted]="imageInserted"
        (closed)="closed($event)"
        (saved)="saved($event); changedContent = $event"
        (changed)="changedContent = $event"
      >
      </app-markdown-editor>
    </ng-container>
  </ng-container>
</section>
