<mat-drawer-container>
  <mat-drawer #drawer mode="over">
    <app-side-bar [drawer]="drawer"></app-side-bar>
  </mat-drawer>
  <mat-drawer-content>
    <div #appBg class="app-bg"></div>
    <app-navbar [drawer]="drawer" *ngIf="navbarVisibility"></app-navbar>
    <div class="app-content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
<app-popup #openFilePopup [customizeBtnGroupRef]="btns" type="dialog">
  <ng-template #btns>
    <button mat-button (click)="openFilePopup.close()">
      {{ "Cancle" | lang | async }}
    </button>
    <button mat-button color="primary" (click)="iptFile.click()">
      {{ "Ok" | lang | async }}
    </button>
  </ng-template>
</app-popup>
<input #iptFile type="file" class="hidden" />
