<mat-drawer-container>
  <mat-drawer #drawer [mode]="side">
    <app-side-bar [drawer]="drawer"></app-side-bar>
  </mat-drawer>
  <mat-drawer-content>
    <div #appBg class="app-bg"></div>
    <app-navbar [drawer]="drawer" *ngIf="navbarVisibility"></app-navbar>
    <div class="app-content">
      <router-outlet></router-outlet>
    </div>
    <footer *ngIf="CONFIG_ICP">
      <mat-divider></mat-divider>
      <div class="icp">{{ CONFIG_ICP }}</div>
    </footer>
  </mat-drawer-content>
</mat-drawer-container>
