:host > .query {
  margin: 10px 10px 4rem 10px;
  display: flex;
  flex-direction: column;
}

.sub-menu-container {
  text-align: center;
}

.sub-menus {
  justify-items: center;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;

  & > a {
    width: 30%;
    height: 3.5em;
    margin: 5px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    text-decoration: none;

    span {
      width: 100%;
      text-align: center;
    }
  }
}

.tab-header {
  width: 100%;
  overflow-x: auto;

  & .tab-item {
    flex: 1;
    min-width: 0;
    height: 2.15em;
  }
}

.sub-menus-mini {
  display: flex;
  overflow-x: auto;

  & > * {
    flex: 1 1 48px;
  }
}

.divider {
  flex: 1;
}

.tags {
  margin: 5px 5px 0 6px;
}

.title {
  margin: 5px;
  display: flex;
  align-items: center;

  & > * {
    // font-size: 1rem;
    vertical-align: middle;
    display: inline-block;
  }

  & > .user-avatar {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    margin-right: 10px;
  }

  & > .header-user-name,
  & > .header-created-time {
    font-size: 0.625em;
    margin: 0 5px 0 0;
  }
  & > .header-created-time {
    font-style: italic;
  }
}

.body {
  margin: 0;
  border-style: solid;
  border-width: 1px 0 0 0;
  overflow: hidden;
}

.node-item > div:focus {
  outline: none;
}
