.explorer-history {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding: 0 5px 0 5px;
  
    .history-header {
      display: flex;
      margin: 10px 0;
      padding-right: 35px
    }
  
    ul {
      margin: 0;
    }
  
    .history-title {
      flex: 1;
      font-weight: bolder;
      padding-left: 40px;
    }
  
    .history-item {
      line-height: 1.5;
      padding: 2px 0px;
      text-decoration: underline;
    }
  }

@media (max-width: 720px) {
  .explorer-history {
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
  }
}