body {
  background-color: #f8f8f8;
}

.hidden {
  display: none !important;
}

.nav-content-wrapper {
  max-width: 780px;
  margin: 0 auto;
}

.btn-import,
.btn-create {
  height: unset;
  display: block;
  width: 100%;
  margin: 20px auto;
  border-radius: 10px;
  border-style: solid;
}

.pagination {
  text-align: center;
}

.show-when-print {
  display: none;
}

@media print {
  .show-when-print {
    display: block;
  }

  .hidden-when-print {
    display: none;
  }
}
