<div #outputsRef class="outputs">
  <div *ngFor="let output of outputs" class="{{ output.type }}">
    {{ output.value }}
  </div>
  <div class="input-line stdin">
    <div class="input-prefix">
    {{
        isEvaling
          ? evalPrefix
          : inputs.length > 0
          ? multilinePrefix + tabIndent.repeat(nextIndent)
          : inputPrefix
      }}</div>
      <ng-container>
        <span [class.hidden]='!useTerminalIme' [class.caret]='!isEvaling' class='emu-input'>{{input}}</span>
      </ng-container>
      <input
      [disabled]="isEvaling"
      [class.hidden]='useTerminalIme'
      #inputRef
      class="input"
      (keyup)="onKeyup($event)"
      type="text"
    />
  </div>
</div>
<app-terminal-ime
  [disabled]="isEvaling"
  (closed)="onImeClosed()"
  [class.hidden]="!imeTarget || !useTerminalIme"
  [target]="imeTarget"
>
</app-terminal-ime>
<iframe *ngIf="url" #iframeRef [src]="url"></iframe>
