.activeLink {
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.data-will-not-save-warn {
  margin: 10px 0 -10px 0;
  font-size: small;
  text-align: center;
}

.tab-item {
  height: 2.15em;
}
