#app {
  position: fixed;
  top: 6px;
  right: 6px;
  bottom: 6px;
  left: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 3px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 0px;
}

#app > * {
  flex: 2;
}

#previewImage {
  margin: 5px;
  padding: 5px;
  max-height: 60%;
  background: transparent;
  object-fit: contain;
  background-image: linear-gradient(45deg, #0001 25%, transparent 25%, transparent 75%, #0001 75%, #0001),
    linear-gradient(45deg, #0001 26%, transparent 26%, transparent 74%, #0001 74%, #0001);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}

#dataUrl {
  background: transparent;
  border: none;
  flex: 1;
  margin: 5px;
  color: rgba(0, 0, 0, 0.8);
  display: block;
  overflow-y: auto;
  word-break: break-all;
  overflow-wrap: anywhere;
}

#dataUrl:focus {
  outline: none;
}

#menu {
  flex: none;
  display: flex;
  margin: 10px 0;
}

.menu-item {
  flex: 1;
  color: rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px white;
  font-size: 1.25em;
  text-align: center;
}

#inputFile {
  display: none;
}

.hiden {
  display: none;
}

@media (orientation: landscape) {
  #app {
    flex-direction: row;
  }
  #app > * {
    flex: 1;
  }

  #menu {
    flex: 0;
    flex-direction: column;
    margin: 10px;
  }

  .menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
