#app {
  display: flex;
  flex-direction: column;
}

@media (orientation: landscape) {
  #app {
    flex-direction: row;
  }
  #msg {
    transform: rotate(-90deg);
  }

  #statistaicPanel {
    width: 3em;
  }
}

#clock {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 75vmin;
  height: 75vmin;
}

.clock-panel {
  flex: 4;
  position: relative;
  background-color: #fffc;
}

#statistaicPanel {
  box-shadow: 0 -3px 5px #0004;
  color: #666;
  flex: 1;
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 1px 3px #fff8;
  transition: flex 0.25s ease-in-out;
  text-align: center;
}

#msg {
  white-space: pre;
}

#statistaicPanel.open {
  flex: 6;
}

.popup {
  background-color: #0002;
  position: fixed;
  width: 100%;
  height: 100%;
}

#tags {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 10px;
  border-radius: 10px;
  min-width: 20vw;
  max-width: 80vw;
  max-height: 80vh;
  box-sizing: border-box;
  box-shadow: 1px 1px 3px#0008;
}

.hidden {
  display: none !important;
}
