:host {
  display: block;
  font-size: smaller;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  margin: 5px;
  border-radius: 5px;
  background-color: lightblue;
  padding: 2px 5px;
  min-width: 2em;
  text-align: center;
}

.tag.selected {
  background-color: lightcoral;
}

.value,
.btn {
  display: none;
}
