:host {
  display: block;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tag {
  margin: 5px;
  border-radius: 4px;
  min-width: 36px;
  min-height: 36px;
  /* box-shadow: 1px 1px 1px #0008; */
}

.tag.selected {
  box-shadow: 1px 1px 3px #0008;
}

.value,
.btn {
  display: none;
}
