#map {
  overflow: auto;
  margin: 0;
  position: relative;
}

#map > * > * {
  position: absolute;
}

#terrians > * {
  width: 100%;
  height: 100%;
}

#units > * {
  overflow: hidden;
}

.factory {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  border-radius: 4px;
}

.factory .progress-panel {
  width: 50%;
  left: 25%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 5%;
}

.progress-panel progress {
  width: 100%;
  height: 5px;
}

@keyframes product {
  from {
    bottom: 20%;
    opacity: 1;
  }

  to {
    bottom: 80%;
    opacity: 0;
  }
}

.product {
  font-size: x-small;
  position: absolute;
  left: 10%;
  right: 10%;
  display: flex;
  opacity: 0;
  animation: product 2s;
  color: #fff;
  background-color: gold;
  border-radius: 4px;
}
