#map {
  overflow: auto;
  margin: 10px;
  position: relative;
}

#map > * > * {
  position: absolute;
}

#terrians > * {
  width: 100%;
  height: 100%;
}

#units > * {
  overflow: hidden;
}

.factory {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  animation: factory 3s infinite ease-in-out;
}

@keyframes factory {
  0% {
    filter: brightness(1) drop-shadow(2px 4px 6px black);
  }
  50% {
    filter: brightness(1.1)drop-shadow(2px 4px 6px black);
  }
  100% {
    filter: brightness(1) drop-shadow(2px 4px 6px black);
  }
}

.factory .progress-panel {
  width: 60%;
  left: 20%;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
}

.progress-panel progress {
  width: 100%;
  height: 5px;
}

@keyframes product {
  from {
    bottom: 20%;
    opacity: 1;
  }

  to {
    bottom: 80%;
    opacity: 0;
  }
}

.product {
  font-size: smaller;
  color: red;
  position: absolute;
  left: 10%;
  right: 10%;
  display: flex;
  animation: product 2s;
  color: #fff;
  background-color: gold;
  border-radius: 4px;
}
