#message,
.title-bar {
  position: fixed;
  left: 0;
  right: 0;
  width: 80%;
  margin: 10px auto;
  display: flex;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 0px 1px #0004;
  backdrop-filter: blur(5px);
  background: #fffa;
  color: #222;
  align-items: center;
}

.title-bar {
  top: 0;
}

#message {
  bottom: 0;
}

#session-name {
  margin-right: 10px;
}

#currency {
  flex: 1;
}

#popup {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #0002;
}

.menu {
  background-color: #fff;
  backdrop-filter: blur(5px);
  padding: 10px;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 1px 1px 3px;
}

.menu-item {
  align-self: center;
  padding: 5px 8px;
  margin: 2px;
  border-radius: 4px;
  background: #0001;
  color: #333;
}

.hidden {
  display: none !important;
}
