:host {
  display: flex;
  flex-direction: column;
  margin: 0px 10px;

  .daily-nodes {
    .node-item {
      min-height: 6em;
    }
  }

  .search.node-item {
    margin: 20px 0;
    padding: 2px;
    display: flex;
    align-items: center;

    & > input {
      flex: 1;
      padding: 5px;
      margin: 2px;
      border-width: 0;
      border-radius: 0;
      outline: none !important;
      -webkit-tap-highlight-color: transparent;
    }

    & > mat-icon {
      margin: 5px;
    }
  }
}

footer {
  color: #c0c0c0;
}

.icp {
  text-align: center;
  font-size: small;
  margin: 10px;
}
