markdown {
  p > img,
  video {
    max-width: 100%;
    width: 100%;
    margin: 10px auto;
    display: block;
  }

  p {
    text-align: justify;
    font-family: -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB,
      Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
    line-height: 1.7;
  }

  a {
    color: #666;
    font-weight: bolder;
  }

  blockquote {
    margin: 0 2em;
  }

  table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;
  }

  th {
    white-space: nowrap;
  }

  table,
  th,
  td {
    border: 1px groove;
    padding: 5px;
    text-align: center;
  }

  code,
  pre,
  code[class*="language-"],
  pre[class*="language-"] {
    white-space: pre-wrap;
    word-break: break-all;
    overflow: hidden;
  }
  pre {
    position: relative;
  }
  pre > .code-menu::after,
  pre > .code-menu::before {
    position: absolute;
    font-family: Ringside Regular A, Ringside Regular B, Rubik, Lato,
      Lucida Grande, Lucida Sans Unicode, Tahoma, Sans-Serif;
    font-weight: bolder;
    font-size: 0.6em;
    position: absolute;
    right: 0.4em;
  }
  pre > .code-menu::before {
    content: "copy";
    top: 0.2em;
  }
  pre > .code-menu::after {
    content: attr(data-language);
    top: 2.2em;
    display: none;
  }
}

@media (min-width: 720px) {
  markdown {
    p > img,
    p > video {
      max-width: 360px;
      display: block;
      margin: 0 auto;
    }
  }
}

@media print {
  markdown {
    p > img,
    p > video {
      max-width: 360px;
      display: block;
      margin: 0 auto;
    }
  }
}
